@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
  --size-font-text: 25px;
  --size-font-menu: 40px;
  --size-font-ico: 50px;
  --size-font-subtitle: 60px;
  --size-font-title: 80px;
  --weight-font-medium: 400;
  --weight-font-big: 700;
  --color-light-grey: #7d677e;
  --color-dark-grey: #4f2c4d;
  --color-blue: #120d46;
  --color-light-blue: #5153ff;
  --color-beige: #ccc9aa;
  --color-cream: #fafdea;
  --color-pink: #FF533D;
}

html {
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
body {
  background-color: var(--color-cream);
  box-sizing: border-box;
}


/* NavBar */

.nav-header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-blue);
  box-shadow: 0px 0px 8px 0.5px var(--color-dark-grey);
}

.header-container .nav-header .hamb-ico{
  display: none;
}

.menu-nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
}

.menu-nav ul{
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-header a,
button{
  color: var(--color-light-blue);
  text-decoration: none;
  user-select: none;
}

.item-menu{
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin: 0 50px;
  font-size: var(--size-font-menu);
  font-weight: var(--weight-font-big);
  text-decoration: none;
  transition: all 0.1s ease-out;
}

.widget-nav{
  display: flex;
}

.widget-nav h4{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -100px;
  margin-top: -18px;
  background: #fff;
  border-radius: 90px;
  height: 25px;
  width: 25px;
  font-size: 1.4rem;
}

.item-menu:hover, 
.cart-ico:hover,
.item-menu a:hover,
.item-menu button:hover{
  transform: scale(1.1, 1.1);
  text-decoration: underline;
  transition: all 0.1s ease-out;
  color: var(--color-pink);
}

.img-menu{
  display: inline;
  width: 200px;
  align-items: center;
  margin: 0 60px;
  transition: all 0.3s ease-out;
}

.img-menu:hover{
  transform: scale(1.1,1.1);
  transition: all 0.1s ease-out;
}

.cart-ico{
  display: flex;
  color: var(--color-light-blue);
  font-size: var(--size-font-ico);
  margin-left: 50px;
}

/* Título y Subtítulo */

.titulo-saludo{
  font-size: var(--size-font-title);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100px;
  color: var(--color-blue);
} 

.subtitulo-pie{
  color: var(--color-blue);
  font-size: var(--size-font-text);
  font-weight: var(--weight-font-medium);
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 80px auto 40px;
}


/* Estilos de Contador */

.visor{
  display: flex;
  border-style: solid;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 2px solid var(--color-blue);
  margin: 0 auto;
  width: 200px;
  color: var(--color-blue);
}

.buttonAdd{
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-cream);
  background-color: var(--color-blue);
  height: 40px;
  width: 100px;
  border: none;
  font-size: var(--size-font-text);
  user-select: none;
}

.buttonAdd:hover{
  background: var(--color-light-blue);
  transition: all 0.1s ease-out;
}

.buttonAdd:active{
  color: var(--color-blue);
}

.buttonAdd:disabled{
  background-color: #7a78a3;
  user-select: none;
}

.plusIcon,
.minusIcon{
  cursor: pointer;
  user-select: none;
}

.plusIcon:hover,
.minusIcon:hover{
  transform: scale(1.4, 1.4);
  transition: all 0.1s ease-out;
  color: var(--color-blue);
}

.plusIcon:active,
.minusIcon:active{
  color: var(--color-light-blue);
}

.contador{
  font-size: 35px;
  font-weight: 800;
  user-select: none;
}

.hide{
  display: none;
}


/* Items & Container */

.spiner{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.item-card{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.item-card img{
  filter: grayscale(0.5) blur(0.5px);
  border-radius: 180px;
  transition: all 0.1s ease-out;
  box-shadow: 0px 0px 8px 0.2px var(--color-blue);
}

.item-card img:hover{
  transform: scale(1.03, 1.03);
  transition: all 0.1s ease-out;
  box-shadow: 0px 0px 8px 0.2px var(--color-blue);
  filter: grayscale(0) blur(0);
  border-radius: 60px;
}

.item-card h2{
  font-size: var(--size-font-menu);
  color: var(--color-blue);
  margin-top: -5px;
  margin-bottom: -10px;
}

.item-card h3{
  font-size: var(--size-font-menu);
  color: var(--color-blue);
  margin-top: -30px;
}

.item-card .text-description{
  color: var(--color-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: -20px;
  padding-bottom: 20px;
  width: 175px;
  font-size: var(--size-font-text);
  font-weight: 500;
}

article .visor{
  transform: scale(0.7, 0.7);
  margin-top: -40px;
  background-color: var(--color-light-blue);
  color: var(--color-cream);
  border-radius: 15px;
  opacity: 0.9;
}

article{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  margin-right: 40px;
}

article .visor button{
  border-radius: 8px;
  transition: all 0.1s ease-out;
}

.item-container{
  display: inline-block;
  margin-left: 100px;
  height: 500px;
  width: 25%;
  color: var(--color-dark-grey);
}

.contenedor-detalle-items{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton-detalle{
  font-size: var(--size-font-text);
  font-weight: var(--weight-font-big);
  color: var(--color-light-blue);
  margin-top: -20px;
}

.boton-detalle:hover{
  color: var(--color-pink);
}


/* Footer */
footer{
  display: flex;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100px;
}

.navbar-footer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-footer ul{
  display: flex;
  list-style: none;
  width: 33.33%;
  justify-content: space-evenly;
  color: var(--color-blue);
}

.navbar-footer a{
  font-size: var(--size-font-text);
  font-weight: var(--weight-font-big);
  text-decoration: none;
  color: var(--color-blue);
  user-select: none;
}

.navbar-footer a:hover{  
  transform: scale(1.1, 1.1);
  text-decoration: underline;
  transition: all 0.1s ease-out;
}

.social-ico{
  display: flex;
  justify-content: space-evenly;
  width: 33.33%;
}

.social-ico a{
  font-size: var(--size-font-menu);
  color: var(--color-blue);
}

.navbar-footer p{
  display: flex;
  width: 33.33%;
  justify-content: center;
  flex: 1;
  color: var(--color-blue);
  font-size: var(--size-font-text);
}

.navbar-footer{
  background-color: var(--color-light-blue);
  color: var(--color-blue);
  box-shadow: 0px 0px 8px 0.5px var(--color-dark-grey);
}


/* Detalle y Visor */

.detail{
  display: flex;
  margin: 50px auto;
  border-radius: 60px;
  background-color: var(--color-light-blue);
  box-shadow: 0px 0px 8px 0.5px var(--color-dark-grey);
  max-width: 800px;
}

.detail .visor{
  background-color: var(--color-cream);
  color: #0c082f;
  min-width: 300px;
}

.item-card .detail h4, h3, h2, p{
  color: var(--color-blue)!important;
}

.item-card img{
  margin: 20px 10px 20px;
}


/* Contacto Datos */

.contacto-datos{
  font-size: var(--size-font-text);
  margin: 0 auto 300px;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}


/* Cart */

.contenedor-cart {
  min-height: 100vh;
}

.contenedor-cart h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-cart{
  display: flex;
  width: 150px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 30px;
  border: solid 4px #0c082f;
}

.item-cart h3{
  margin-top: -20px;
}

.texts-cart{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: -50px;
}

.texts-cart h2{
  margin: 0 auto 30px;
  text-align: center;
}

.texts-cart button{
  margin-top: -10px;
  margin-bottom: 10px;
}

.contenedor-cart button{
  transform: scale(0.8, 0.8);
}

.contenedor-cart button:hover{  
  background-color: var(--color-light-blue);
}

.total-vaciar{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.total-vaciar button{
  margin-bottom: 50px;
  text-decoration: none;
  min-width: 150px;
}

.total-vaciar a{
  text-decoration: none;
}

.cart-vacio{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-blue);
  text-align: center;
}

.cart-vacio b{
  text-decoration: underline;
}

.cart-vacio a{
  color: var(--color-blue);
  font-size: var(--size-font-text);
}

.cart-vacio a:hover{
  color: var(--color-light-blue);
}

.link-carrito{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.link-carrito a{
  color: var(--color-blue);
  width: 300px;
  font-size: var(--size-font-text);
}

.link-carrito a:hover{
  color: #FFF;
}
/* Input */

input{
  background-color: rgb(247, 199, 95);
  color: var(--color-dark-grey);
  border-radius: 10px;
  padding-left: 5px;
}

input:focus{
  color: var(--color-blue);
}


/* Form de Orden de Compra */
.form-ordenCompra{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.form-ordenCompra input{
  min-width: 300px;
  min-height: 40px;
  font-size: var(--size-font-text);
  overflow: hidden;
  text-decoration: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  display: none; 
  margin: 0; 
}


/* Orden de Compra - Formulario y Textos */

.form-track{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 30px;
}

.detalle-ordenDeCompra{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px 0;
}

.detalle-ordenDeCompra b{
  text-decoration: underline;
}


/* Media Responsive */

@media screen and (max-width: 1600px) {
  .item-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .item-card{
    display: flex;
  }

  .item-container{
    display: inline-block;
    margin: 0 30px;
    height: 500px;
    width: 45%;
    color: var(--color-dark-grey);
  }
}

@media screen and (max-width: 1200px) {

  .menu-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    align-items: center;
    min-height: 400px;
  }

  .img-menu{
    display: none;
  }

  .hide{
    display: none;
  }

  .header-container .nav-header .hamb-ico{
    display: flex;
    margin-top: 5px;
    font-size: var(--size-font-ico);
    background: transparent;
    border: none;
  }

  #root > header > nav > button > svg > path:hover{
    filter: sepia(1);
    transition: all 0.5s ease-in-out;
  }

  .item-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    margin: 150px auto;
  }

  .item-card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 350px;
  }

  .titulo-saludo{
    font-size: var(--size-font-subtitle);
    height: 50px;
    margin-bottom: 70px;
  } 
  
  .subtitulo-pie{
    font-size: var(--size-font-text);
    margin-bottom: -120px;
  }
}

@media screen and (max-width: 800px) {
/* aca hay que poner el menú del footer vertical */
  .item-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .item-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 350px;
  }

  .titulo-saludo{
    width: 90%;
    margin: 140px auto 150px;
  }

  .subtitulo-pie{
    width: 70%;
    margin-bottom: -100px;
  }

  .container-contacto h1{
    margin-bottom: 30px;
  }

  .contacto-datos p{
    margin-bottom: -10px;
  }

  .contacto-datos form{
    margin-top: 40px;
  }

  footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 135px;
  }
  
  .navbar-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    min-height: 250px;
    gap: 15px;
  }

  .social-ico{
    gap: 40px;
  }
  
  .navbar-footer ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 0;
    margin: 30px 0;
    width: 50%;
    gap: 20px;
  }

  footer p{
    transform: scale(0.8, 0.8);
    margin-top: -10px;
    width: 70%!important;
  }

  footer .social-ico {
    margin-top: 30px;
    width: 50%;
  }
}